<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <marquee title="ivewor">Odin 01N</marquee>
        </div>
        <ul>
            <li><a href="/">index</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/404">[404]</a></li>
        </ul>
    </nav>
    <main>
        <h1>contact</h1>
    </main>
</body>
</html>